# Core MNE and Math
mne
numpy
scipy
matplotlib

# Core 3D Rendering
pyvista
pyvistaqt
vtk

# Jupyter Interactive UI
ipywidgets
ipyevents

# Web Browser 3D Streaming (Trame Ecosystem)
trame
trame-vtk
trame-vuetify
trame-client

# Qt fallback (just in case MNE checks for it)
PyQt5